:root{
	--primary-red: #941C04;
    --dark-red: #5E0B00;
    --action-blue: #2F89C2;
}

/* Book.html */

	body{
	    background-color: #f4f4f4;
		margin: 0;
		padding: 0;
		width: 100%; 
		overflow-x: hidden;
	}
	
	.header {
        box-shadow: 0 15px 10px rgba(0,0,0,0.2); 
		table-layout: fixed;
		margin-top: 0px;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		box-sizing: border-box;
		position: sticky;
		top: 0;
		z-index: 999999999;
    }
	
	.header button {
		max-width: 100%;
		white-space: nowrap;
	}
	
	.header img {
		max-width: 100%;

	}
	
	.header table {
		border-collapse: separate;
		border-spacing: 0;
		width: 100%;    
		box-shadow: 0 15px 10px rgba(0,0,0,0.2);
	}
	
	.sign-in{
		background-color: white;
		color: var(--action-blue);
		border: 2px solid var(--action-blue); 
		padding: 10px 20px;
		border-radius: 10px;
		font-weight: bold;
		min-width: 150px; 
		cursor: pointer;
		transition: 0.3s;
		margin-bottom: 10px;
	}
	
	.sign-in:hover, .sign-up:hover{
		filter: brightness(1.1);
		transform: translateY(-2px);
	}

	.button-align{
		display: flex;
		flex-direction: column;              
		align-items: flex-end; 
	}
	
    .main-container {
        width: 100%; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        direction: ltr; 
		box-sizing: border-box;
		display: flex;
		align-items: flex-start;
    }
	
	
	.barrier{
		position: sticky;
		background-color: rgba(26, 26, 26, 0.95);
		width: 15%;
		top: 206px;
		padding: 0px;
		height: auto; 
		overflow-y: auto;
		flex-shrink: 0;
	}
	
	.side-item{
		display: flex;
		align-items: center;
		padding: 12px 20px;
		gap: 15px; 
		cursor: pointer;
		transition: all 0.3s ease;
	}
	
	.side-item-active{
		display: flex;
		align-items: center;
		padding: 12px 20px;
		gap: 15px; 
		transition: all 0.3s ease;
		background-color: rgba(30, 30, 30, 0.95);
		border-left: 4px solid #777777;
	}
	
	.side-item i, .side-item-active i{
		color: #777777; 
		font-size: 18px; 
		width: 25px;    
		text-align: center;
		transition: color 0.3s ease;
		margin-bottom: 17px;
		margin-top: 17px;
	}
	
	.side-item span, .side-item-active span {
		color: #777777; 
		font-size: 15px;
		font-weight: bold;
		margin-top: 17px;
		margin-bottom: 17px;
	}
	
	.side-item:hover{
		background-color: rgba(30, 30, 30, 0.95);
	}
	
	.site-info{
		flex-grow: 1;
		flex: 1;
		min-width: 0;
		padding: 25px 40px;
	}
	
	
.auth-wrapper {
    position: relative;
    display: inline-block;
}

.account-btn {
    background: #941C04;
    color: white;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
	float: top;
	margin-bottom: 15px;
}

.auth-tooltip {
    display: none; 
    position: absolute;
    top: 100px;
    right: 0;
    width: 600px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    padding: 15px;
    z-index: 1000;
}

.auth-tooltip h3 {
    color: #5E0B00;
    font-size: 16px;
    margin-bottom: 15px;
}

.tooltip-option {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    transition: 0.2s;
}

.tooltip-option:hover {
	background: #f9f9f9; 
	border-color: #941C04; 
}

.separator {
    text-align: center;
    margin: 10px 0;
    position: relative;
}
.separator span {
	background: white; 
	padding: 0 10px; 
	color: #aaa; 
	font-size: 12px; 	
}

.close-tooltip {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    cursor: pointer;
    line-height: 1;
    transition: 0.2s;
	margin-bottom: 15px;
	border-radius: 50px;
}

.close-tooltip:hover {
    background-color: #eeeeee;
}

.title{
    color: var(--primary-red); 
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    margin-bottom: 20px;
	font-style: italic;
	font-family: 'Georgia', serif;
}

.book{
	display: flex;
    padding: 35px;
	align-items: center;
	gap: 30px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2); 
	margin-right: 0px;
	box-sizing: border-box;
	background-color: #f1f1f1;
}

.related-more-box{
	text-align: left;
	padding: 30px;
	gap: 20px; 
	display: flex; 
	justify-content: space-between;
	flex-wrap: wrap; 
	margin-left: 0px;
	margin-right: 0px;
	box-sizing: border-box;
	background-color: #e9e9e9;
	margin-top: 25px;
	box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}

@keyframes openBook {
    from { transform: rotateY(-20deg) scale(0.9); opacity: 0; }
    to { transform: rotateY(0deg) scale(1); opacity: 1; }
}

.book-left{
	flex: 2; 
    padding: 30px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 15px; 
    border-right: 2px solid rgba(94, 11, 0, 0.1);
}

.book-right{
	flex: 1;
	padding: 30px;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}

.badge {
    background: var(--primary-red);
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.book-img {
	width: 190px;
	height: 280px; 
	object-fit: cover;
    border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.3); 
	transition: transform 0.3s;
}

.book-img:hover {
	transform: scale(1.05) rotate(-2deg);
}

.abadge{
	background-color: #941C04;
	color: white;
    padding: 6px 15px;
    border-radius: 50px;
	font-size: 12px;
	text-transform: uppercase; 
    letter-spacing: 1px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 15px;
}

.abadge:hover {
	background-color: #5E0B00;
    transform: translateY(-2px);
    }

.book-cover {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
}

.book-cover:hover{
	transform: scale(1.05) rotate(-2deg);
}

.action-button{
	background-color: var(--primary-red);
    border: none; 
	padding: 10px 20px; 
	border-radius: 10px; 
	cursor: pointer;
	color: white;
	font-weight: bold;
	box-shadow: 5px 5px 10px #777777;
}

.action-button:hover{
	transform: scale(1.1);
}

.book-content-wrapper {
    display: flex; 
    flex-direction: row;
    gap: 25px;
    align-items: flex-start;
}

.book-details-column {
    display: flex;
    flex-direction: column; 
    gap: 12px;
}

.summary-bubble {
    background: rgba(245, 245, 245, 0.2); 
    padding: 25px;
    border-radius: 15px;
    border-left: 3px solid var(--primary-red); 
    box-shadow: -5px 5px 15px rgba(0,0,0,0.9);
    text-align: left;
    color: #333;
    line-height: 1.6;
}

.book-tags {
    display: flex;
    flex-wrap: nowrap; 
    gap: 8px;      
    margin: 10px 8px;
}

.tag {
    background-color: rgba(47, 137, 194, 0.1);
    color: var(--action-blue);               
    border: 1px solid var(--action-blue);   
    padding: 5px 15px;                       
    border-radius: 20px;                  
    font-size: 13px;                      
    font-weight: 600;                       
    text-transform: uppercase;                
    transition: 0.3s ease;                 
}

.tag:hover {
    background-color: var(--action-blue);
    color: white;
    transform: translateY(-2px); 
}

.col-f{
		margin: 10px;
	}
	
.footer{
	    text-align: center;
		padding: 10px 20px;
		background-color: #333333;
		color: white;
		font-size: 16px;
		font-family: sans-serif;
		display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
	}
	
.footer a {
    color: #cccccc; 
    text-decoration: none;    
    transition: 0.3s;             
    }

.footer a:hover {      
	color: #f1f1f1;
    text-decoration: underline; 
}
    