:root{
	--primary-red: #941C04;
    --dark-red: #5E0B00;
    --action-blue: #2F89C2;
}

/* HomePage */
	body{
	    background-color: #f4f4f4;
		margin: 0;
		padding: 0;
		width: 100%; 
		overflow-x: hidden;
	}
	
	.header {
        box-shadow: 0 15px 10px rgba(0,0,0,0.2); 
		table-layout: fixed;
		margin-top: 0px;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		box-sizing: border-box;
		position: sticky;
		top: 0;
		z-index: 999999999;
    }
	
	.header button {
		max-width: 100%;
		white-space: nowrap;
	}
	
	.header img {
		max-width: 100%;

	}
	
	.header table {
		border-collapse: separate;
		border-spacing: 0;
		width: 100%;    
		box-shadow: 0 15px 10px rgba(0,0,0,0.2);
	}
	
	.sign-up{
		background-color: var(--action-blue);
		color: white;
		border: 2px solid white; 
		padding: 10px 20px;
		border-radius: 8px;
		font-weight: bold;
		min-width: 120px; 
		cursor: pointer;
		transition: 0.3s;
		margin-bottom: 10px;
	}
	
	.sign-in{
		background-color: white;
		color: var(--action-blue);
		border: 2px solid var(--action-blue); 
		padding: 10px 20px;
		border-radius: 8px;
		font-weight: bold;
		min-width: 120px; 
		cursor: pointer;
		transition: 0.3s;
		margin-bottom: 10px;
	}
	
	.sign-in:hover, .sign-up:hover{
		filter: brightness(1.1);
		transform: translateY(-2px);
	}

	.button-align{
		display: flex;
		flex-direction: column;              
		align-items: flex-end; 
	}
	
    .main-container {
        width: 100%; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        direction: ltr; 
		box-sizing: border-box;
		display: flex;
		align-items: flex-start;
    }
	
	
	.barrier{
		position: sticky;
		background-color: rgba(26, 26, 26, 0.95);
		width: 15%;
		top: 206px;
		padding: 0px;
		height: auto; 
		overflow-y: auto;
		flex-shrink: 0;
	}
	
	.side-item{
		display: flex;
		align-items: center;
		padding: 12px 20px;
		gap: 15px; 
		cursor: pointer;
		transition: all 0.3s ease;
	}
	
	.side-item i{
		color: #777777; 
		font-size: 18px; 
		width: 25px;    
		text-align: center;
		transition: color 0.3s ease;
		margin-bottom: 17px;
		margin-top: 17px;
	}
	
	.side-item span {
		color: #777777; 
		font-size: 15px;
		font-weight: bold;
		margin-top: 17px;
		margin-bottom: 17px;
	}
	
	.side-item:hover{
		background-color: rgba(30, 30, 30, 0.95);
	}
	
	.site-info{
		flex-grow: 1;
		flex: 1;
		min-width: 0;
		padding: 25px 40px;
	}

    .daily-box {
		background-color: #F1F1F1;
        display: flex;
        padding: 35px;
        align-items: center;
        gap: 30px;
        box-shadow: 0 15px 10px rgba(0,0,0,0.2); 
		margin-left: 0px;
		margin-right: 0px;
		box-sizing: border-box;
    }
	
	.daily-badge{
		color: #FFFFFF;
		padding: 8px 20px;
		border-radius: 50px;
		font-weight: bold;
		margin-bottom: 40px;
		background-color: var(--primary-red);
		cursor: pointer;
		border: 0;
		margin-top: 60px;
	}
	
	.popular-new-box{
	    text-align: left;
		padding: 30px;
		gap: 20px; 
		display: flex; 
		justify-content: space-between;
		flex-wrap: wrap; 
		margin-left: 0px;
		margin-right: 0px;
		box-sizing: border-box;
		background-color: #e9e9e9;
		margin-top: 25px;
		box-shadow: 0 15px 10px rgba(0,0,0,0.2);
	}
	
	.footer{
	    text-align: center;
		padding: 10px 20px;
		background-color: #333333;
		color: white;
		font-size: 16px;
		font-family: sans-serif;
		display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
	}
	
	.footer a {
        color: #cccccc; 
        text-decoration: none;    
        transition: 0.3s;         
    }

    .footer a:hover {      
        color: #f1f1f1;
        text-decoration: underline; 
    }
	
	.badge {
		background: var(--primary-red);
		color: white;
		padding: 8px 20px;
		border-radius: 50px;
		font-weight: bold;
		margin-bottom: 20px;
	}

    .book-img {
        width: 190px;
		height: 280px; 
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.3); 
        transition: transform 0.3s;
    }

    .book-img:hover {
        transform: scale(1.05) rotate(-2deg);
    }

    .book-badge{
        background-image: url('pictures/red-marble.jpg');
        color: white;
        padding: 6px 15px;
        border-radius: 50px;
        font-size: 12px;
        text-transform: uppercase; 
        letter-spacing: 1px;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 15px;
    }
	
	.column-footer{
		margin: 10px;
	}

    .read-review-button {
        background-color: #941C04;
		background-position: center;
		background-size: cover;
        color: #FFFFFF;
        border: none;
        padding: 12px 30px;
        border-radius: 50px; 
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 0 4px 10px rgba(148, 28, 4, 0.3);
    }

    .read-review-button:hover {
        transform: translateY(-3px);
    }
	
	.Dr-Meow-box{
	    flex: 1; 
		display: flex; 
		flex-direction: column; 
		align-items: center; 
		gap: 15px;
        border-left: 1px solid rgba(61, 49, 10, 0.2); 
        padding-left: 20px;
	}

    .meow-speech {
        font-size: 13px;
        font-style: italic;
        color: #333333;
        background-color: #F9F9F9;
        padding: 15px;
        border-radius: 15px;
        border-left: 4px solid #941C04;
        max-width: 250px;
    }

    @media (max-width: 850px) {
        .daily-box {
		flex-direction: column;
		text-align: center;
	}
	}
	